html{
    --primary-color: rgb(4, 21, 25);
    --secondary-color: rgb(72, 15, 95);
    --background-color: rgb(237, 52, 52);
    --font-color: rgb(29, 198, 217);
    --heading-color: rgb(7,54,66);
  }
  html[data-theme="dark"] {
    --primary-color: rgb(255,212,201);
    --secondary-color: rgb(167,43,54);
  }