html{
    --primary-color: rgb(4, 21, 25);
    --secondary-color: rgb(72, 15, 95);
    --background-color: rgb(255,255,255);
    --font-color: rgb(131,148,150);
    --heading-color: rgb(7,54,66);
  }
  