body{
    background-color:  #002B36;
}

header{
    background-color: #073642;
    color: #839496;
}

footer{
    background-color: #073642;
    color: #839496;
}

main{
    color:#839496;
}

li{
    color: #D33682;
}