body{
    background-color:  #002B36;
    max-width: 800px;

}

header{
    background-color: #073642;
    color: #B58900;
    text-size-adjust: 150%;
    text-align: center;
}

footer{
    background-color: #073642;
    color: #839496;
}

main{
    color:#839496;
}

a{
    color: #D33682;
}
a:hover{
    color: #FF793B;
}

.border{
    border-style: solid;
    border-width: 3px;
    border-color: #2aa198;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    text-align: center;
    display: inline-flex;
}
aside{
    color: #859900;
}
aside ul li a{
    color:#DC322F;
}
aside ul li a:hover{
    color:#268BD2
}

p{
    text-indent: 5em;
}

h2{
    color:#B58900 ;
}
article h2{
    padding-top: 50px;
}
article h3{
    padding-top: 50px;
}