body{
    background-color:  #002B36;
}

header{
    background-color: #073642;
    color: #839496;
}

footer{
    background-color: #073642;
    color: #839496;
}

main{
    color:#839496;
}

a{
    color: #D33682;
}
a:hover{
    color: #FF793B;
}

article{
    border-style: solid;
    border-width: 3px;
    border-color: #2aa198;
}